extends base

block content
  .container-fluid(style='background-color:rgb(20,20,20)')
    h3.text-success.mb-4 ኩሎም መደባት
    .card.shadow(style='background-color:rgb(51,51,51);border-color:rgb(41,41,41)')
      .card-body
        .row
          .col-md-6.text-nowrap
            #dataTable_length.dataTables_length(aria-controls='dataTable')
              h3.text-light ጠቕላላ መደባት፦ #{result}
          .col-md-6
            .text-md-right.dataTables_filter#dataTable_filter
              p page #{currentPage}
        .row
          .col-md-6.align-self-center
            //- p.dataTables_info#dataTable_info(role='status' aria-live='polite') Showing #{} to 10 of 27
          .col-md-6
            nav.d-lg-flex.justify-content-lg-end.dataTables_paginate.paging_simple_numbers
              ul.pagination
                li.page-item.disabled
                 
                - if (currentPage !==1 && previousPage !==1) 
                  li.page-item.active
                    a.page-link(href=`/geez/admin/allBets/?page=1`) 1
                - if (hasPreviousPage)   
                  li.page-item.active
                    a.page-link(href=`/geez/admin/allBets/?page=${previousPage}`)=previousPage
                li.page-item.active
                    a.page-link(href=`/geez/admin/allBets/?page=${currentPage}`)=currentPage
                - if (hasNextPage)
                  li.page-item.active
                    a.page-link(href=`/geez/admin/allBets/?page=${nextPage}`)=nextPage
                - if (lastPage !== currentPage && nextPage !== lastPage)
                  li.page-item.active
                    a.page-link(href=`/geez/admin/allBets/?page=${lastPage}`)=lastPage
        
        .table-responsive.table.mt-2#dataTable(role='grid' aria-describedby='dataTable_info')
          table.table.dataTable.my-0#dataTable
            thead
              tr
                th.text-warning ሽም
                th.text-warning መደብ ኣይዲ
                th.text-warning ዝተመደበ ቕርሺ
                th.text-warning ጠቕላላ ኦድ
                th.text-warning ዝተመደበሉ ዕለት
                th.text-warning ዝበልዖ ቕርሺ
                th.text-warning ተኸፊሉ
                th.text-warning ኹነታት
                th.text-warning ተወሳኺ
            tbody
            each bet,i in bets
              tr
                td.text-light=bet.userName 
                td.text-light=bet.userId
                td.text-light=bet.placedMoney
                td.text-light=bet.totalOdd.toLocaleString({maximumFractionDigits: 2})
                td.text-light=bet.createdAt.toLocaleString('en-us')
                td.text-light=`$ ${bet.prizeMoney.toLocaleString({useGrouping: true, maximumFractionDigits: 2})}`
                td.text-light=bet.payed
                td.text-light=bet.status
                td.text-light
                  button.btn.btn-info.btn-md(type='button' id='modalBtn' data-toggle='modal' data-target=`#modalView${i}` ) ተወሳኺ

              
            tfoot
              tr
                td
                  strong.text-warning ሽም
                td 
                  strong.text-warning መደብ ኣይዲ
                td 
                  strong.text-warning ዝተመደበ ቕርሺ
                td 
                  strong.text-warning ጠቕላላ ኦድ
                td 
                  strong.text-warning ዝተመደበሉ ዕለት
                td 
                  strong.text-warning ዝበልዖ ቕርሺ
                th 
                  strong.text-warning ተኸፊሉ
                th 
                  strong.text-warning ኹነታት
                th 
                  strong.text-warning ተወሳኺ
        .row
          .col-md-6.align-self-center
          
          .col-md-6
            nav.d-lg-flex.justify-content-lg-end.dataTables_paginate.paging_simple_numbers
              ul.pagination
                li.page-item.disabled
                 
                - if (currentPage !==1 && previousPage !==1) 
                  li.page-item.active
                    a.page-link(href=`/geez/admin/allBets/?page=1`) 1
                - if (hasPreviousPage)   
                  li.page-item.active
                    a.page-link(href=`/geez/admin/allBets/?page=${previousPage}`)=previousPage
                li.page-item.active
                    a.page-link(href=`/geez/admin/allBets/?page=${currentPage}`)=currentPage
                - if (hasNextPage)
                  li.page-item.active
                    a.page-link(href=`/geez/admin/allBets/?page=${nextPage}`)=nextPage
                - if (lastPage !== currentPage && nextPage !== lastPage)
                  li.page-item.active
                    a.page-link(href=`/geez/admin/allBets/?page=${lastPage}`)=lastPage

              

    each bet,i in bets
      .modal.fade.show(style='display:bloc;' role='dialog' tabindex='-1' id=`modalView${i}`)
        .modal-dialog.modal-lg.modal-dialog-centered.modal-dialog-scrollable(role='document')
          .modal-content
            .modal-header(style='background-color:rgb(0,0,0);border-color:rgb(41,41,41)')
              h1.modal-title.text-light= bet.userName
              button.close(type='button' data-dismiss='modal')
                span.text-light ×
            .modal-body(style='background-color:rgb(51,51,51);border-color:rgb(41,41,41)')
              .table-responsive
                table.table
                  thead
                    tr
                      th.text-warning ሽም ሊግ
                      th.text-warning ፀወታ
                      th.text-warning ግምት
                      th.text-warning ዝተመረፀ
                      th.text-warning ኦድ
                  tbody
                  each game in bet.game
                    tr
                      td.text-light=game.leagueName
                      td.text-light=game.title
                      td.text-light=game.prediction
                      td.text-light=game.choice
                      td.text-light=game.odd
            .modal-footer(style='background-color:rgb(51,51,51);border-color:rgb(41,41,41)')
              p.text-info ቅድሚ ክፍሊት ምኽፋሎም ከምዝሰዓሩ ብደንቢ ጌሮም የረጋግፁ
              input(value=bet._id style='display: none' id=`payField${i}`)
              button.btn.btn-light(type='button' data-dismiss='modal') ዕፀ
              - if(!bet.payed)
                - let old = new Date(bet.createdAt);
                - let now = new Date(Date.now());
                if now-old <= 1200000
                  button.btn.btn-primary(type='button' id='winBtn' onclick=`updatePay(${i}, ${currentPage})`) ከፊሉ 
                
