extends base

block content
  .container-fluid(style='background-color:rgb(20,20,20)')
    h3.text-success.mb-4 ውፅኢት ፀወታታት 
    .card.shadow(style='background-color:rgb(51,51,51);border-color:rgb(41,41,41)')
      .card-body
        .row
          .col-md-6.text-nowrap
            #dataTable_length.dataTables_length(aria-controls='dataTable')
              h3.text-light ጠቕላላ በዝሒ ፀወታታት #{numOfMatches}
         
        .table-responsibe.table.mt-2#dataTable(role='grid' aria-describedby='dataTable_info')
          table.table.dataTable.my-0#dataTable
            thead
              tr
                th.text-warning ሽም ፀወታ
                //- th.text-warning ዝተፈጠረሉ ዕለት
                th.text-warning ምሉእ ውፅኢት
                th.text-warning ቅድሚ ዕረፍት ውፅኢት
                th.text-warning ድሕሪ ዕረፍቲ ውፅኢት

                th.text-warning ውፅኢት ቐይር
            tbody
            each match,i in matchResults
              
              tr
                td.text-light= match.matchTitle
                
                //- td.text-light= match.matchDetail.date
                - const fullScore = `${match.team1.goals} - ${match.team2.goals}`
                - const firstHalf = `${match.team1.firstHalf} - ${match.team2.firstHalf}`
                - const secondHalf = `${match.team1.secondHalf} - ${match.team2.secondHalf}`
                td.text-light= fullScore
                td.text-light= firstHalf
                td.text-light= secondHalf
               
                td.text-light
                  .text-lightbutton.btn.btn-info.btn-md(type='button' id='modalBtn' data-toggle='modal' data-target=`#modalView${i}` ) ተወሳኺ
                    //- input.bg-dark(type='number' 
                    //-   inputmode='numeric' id=`resultHome${i}` name='changeResult' class='form-control' style='color:rgb(255,255,255);border-color:rgb(41,41,41)')
                    //- input.bg-dark(type='number' 
                    //-   inputmode='numeric' id=`resultAway${i}` name='changeResult' class='form-control' style='color:rgb(255,255,255);border-color:rgb(41,41,41)')
                    //- .input-group-append
                    //-   button.btn.btn-success(type='button' onClick=`updateMatchResult(${i}, "${leagueName}", "${title}")`) ቐይር
              
            tfoot
              tr
                td
                  strong.text-warning ሽም ፀወታ
                td 
                  strong.text-warning ዝተፈጠረሉ ዕለት
                td 
                  strong.text-warning ውፅኢት
                td 
                  strong.text-warning ውፅኢት ቐይር
              
              
    each match,i in matchResults
      .modal.fade.show(style='display:bloc;' role='dialog' tabindex='-1' id=`modalView${i}`)
        .modal-dialog.modal-lg.modal-dialog-centered.modal-dialog-scrollable(role='document')
          .modal-content
            .modal-header(style='background-color:rgb(0,0,0);border-color:rgb(41,41,41)')
              h1.modal-title.text-light= match.matchTitle
              
              button.close(type='button' data-dismiss='modal')
                span.text-light ×
            .modal-body(style='background-color:rgb(51,51,51);border-color:rgb(41,41,41)')
              .table-responsive
                table.table
                  thead
                    tr
                      th.text-warning ዓይነት ውፅኢት
                      th.text-warning ውፅኢት
                      th.text-warning ውፅኢት ቐይር
                      
                  tbody
                    tr
                      td.text-light ቅድሚ ዕረፍቲ
                      td.text-light= `${match.team1.firstHalf} - ${match.team2.firstHalf}`
                      
                      td
                        input.bg-dark(type='number' inputmode='numeric' id=`firstHome${i}` name='changeResult' class='form-control' style='color:rgb(255,255,255);width:100px;border-color:rgb(41,41,41)')
                        input.bg-dark(type='number' inputmode='numeric' id=`firstAway${i}` name='changeResult' class='form-control' style='color:rgb(255,255,255);width:100px;border-color:rgb(41,41,41)')
                        
                    tr
                      td.text-light ድሕሪ ዕረፍቲ
                      td.text-light= `${match.team1.secondHalf} - ${match.team2.secondHalf}`
                      td
                        input.bg-dark(type='number' inputmode='numeric' id=`secondHome${i}` name='changeResult' class='form-control' style='color:rgb(255,255,255);width:100px;border-color:rgb(41,41,41)')
                        input.bg-dark(type='number' inputmode='numeric' id=`secondAway${i}` name='changeResult' class='form-control' style='color:rgb(255,255,255);width:100px;border-color:rgb(41,41,41)')
                        

            .modal-footer(style='background-color:rgb(51,51,51);border-color:rgb(41,41,41)')
              p 
             
              button.btn.btn-light(type='button' data-dismiss='modal') ዕፀው 
              button.btn.btn-success(type='button' onClick=`updateMatchResult(${i}, "${match._id}")`) ቐይር       
        //- .row
        //-   .col-md-6.align-self-center
        //-     p.dataTables_info#dataTable_info(role='status' aria-live='polite') Showing 1 to 10 of 27
        //-   .col-md-6
        //-     nav.d-lg-flex.justify-content-lg-end.dataTables_paginate.paging_simple_numbers
        //-       ul.pagination
                //- - if (currentPage !==1 && previousPage !==1)
                //-   li.page-item
                //-     a.page-link(href='/admin/payedBets/?page=1') 1
                //- - if (hasPreviousPage)
                //-   li.page-item
                //-     a.page-link(href=`/admin/payedBets/?page=${previousPage}`)=previousPage
                //- li.page-item
                //-   a.page-link(href=`/admin/payedBets/?page=${currentPage}`)=currentPage
                //- - if (hasNextPage)
                //-   li.page-item
                //-     a.page-link(href=`/admin/payedBets/?page=${nextPage}`)=nextPage
                //- - if (lastPage !== currentPage && nextPage !== lastPage)
                //-   li.page-item
                //-     a.page-link(href=`/admin/payedBets/?page=${lastPage}`)=lastPage
                    
    //- each match,i in matches
    //-   .modal.fade.show(style='display:bloc;' role='dialog' tabindex='-1' id=`modalView${i}`)
    //-     .modal-dialog.modal-lg.modal-dialog-centered.modal-dialog-scrollable(role='document')
    //-       .modal-content
    //-         .modal-header
    //-           h1.modal-title= match.title
              
    //-           button.close(type='button' data-dismiss='modal')
    //-             span ×
    //-         .modal-body
    //-           .table-responsive
    //-             table.table
    //-               thead
    //-                 tr
    //-                   th ሽም ግምት
    //-                   th ግምት
                      
    //-               tbody
    //-               each prediction, i in match.prediction
    //-                 - const key = Object.keys(prediction);
    //-                 - const values = Object.values(prediction);
    //-                 //- - const choices = Object.values(values);
    //-                 tr
    //-                   td=key
                      
    //-                   td
    //-                     each value in values
    //-                       - const choices = Object.keys(value);
    //-                       - const odds = Object.values(value);
    //-                       .row
    //-                         each choice, i in choices
    //-                           p.lead.text-center.text-success.shadow(style='margin-right: 1px; margin-left:5px;')=`${choice}:`
    //-                           - const odd = parseFloat(odds[i]).toFixed(2)
    //-                           span.text-center.text-primary(style='margin-right: 5px; margin-left:1px;')=` ${odd}`
                   
    //-                 //- each value in values
    //-                     //-   p value
    //-                   td 
    //-                     div
    //-                       a.btn.btn-primary(data-toggle='collapse' aria-expanded='false' aria-controls=`collapse-${i}` href=`#collapse-${i}` role='button') ተወሳኺ
    //-                       .collapse(id=`collapse-${i}`)
                             



    //-                   //- td=game.prediction
    //-                   //- td=game.choice
    //-                   //- td=game.odd.toLocaleString({maximumFractionDigits: 2})
    //-         .modal-footer
    //-           p 
    //-           //- input(value=match._id style='display: none' id=`updateStatusField${i}`)
    //-           button.btn.btn-light(type='button' data-dismiss='modal') ዕፀው
              //- button.btn.btn-primary(type='submit' id='winBtn' onclick=`updateStatus(${i})`) ስዒሩ          
                                        