extends base

block content
  .container-fluid(style='background-color:rgb(20,20,20)')
    h3.text-dark.mb-4 ኩሎም ዝተኸፈሉ መደባት
    .card.shadow(style='background-color:rgb(51,51,51);border-color:rgb(41,41,41)')
      .card-body
        .row
          .col-md-6.text-nowrap
            #dataTable_length.dataTables_length(aria-controls='dataTable')
              h3.text-light ጠቕላላ ዝተኸፈሉ መደባት #{result}
          .col-md-6
            .text-md-right.dataTables_filter#dataTable_filter
              p page #{currentPage}
        .row
          .col-md-6.align-self-center
           
          .col-md-6
            nav.d-lg-flex.justify-content-lg-end.dataTables_paginate.paging_simple_numbers
              ul.pagination
                li.page-item.disabled
                  //- a.page-link(href='#' aria-label='Previous')
                  //-   span(aria-hidden='true') «
                - if (currentPage !==1 && previousPage !==1) 
                  li.page-item.active
                    a.page-link(href=`/geez/admin/payedBets/?page=1`) 1
                - if (hasPreviousPage)   
                  li.page-item.active
                    a.page-link(href=`/geez/admin/payedBets/?page=${previousPage}`)=previousPage
                li.page-item.active
                    a.page-link(href=`/geez/admin/payedBets/?page=${currentPage}`)=currentPage
                - if (hasNextPage)
                  li.page-item.active
                    a.page-link(href=`/geez/admin/payedBets/?page=${nextPage}`)=nextPage
                - if (lastPage !== currentPage && nextPage !== lastPage)
                  li.page-item.active
                    a.page-link(href=`/geez/admin/payedBets/?page=${lastPage}`)=lastPage
        
        .table-responsibe.table.mt-2#dataTable(role='grid' aria-describedby='dataTable_info')
          table.table.dataTable.my-0#dataTable
            thead
              tr
                th.text-warning ሽም
                th.text-warning መደብ ኣይዲ
                th.text-warning ዝተመደበ ቕርሺ
                th.text-warning ጠቕላላ ኦድ
                th.text-warning ዝተመደበሉ ዕለት
                th.text-warning ዝበልዖ ቕርሺ
                th.text-warning ተኸፊሉ
                th.text-warning ኹነታት
                th.text-warning ተወሳኺ
            tbody
            each payedBet,i in payedBets
              tr
                td.text-light= payedBet.userName 
                td.text-light= payedBet.userId
                td.text-light= payedBet.placedMoney.toLocaleString({useGrouping: true, maximumFractionDigits: 2})
                td.text-light= payedBet.totalOdd.toLocaleString({maximumFractionDigits: 2})
                td.text-light= payedBet.createdAt.toLocaleString('en-us')
                td.text-light= `$ ${payedBet.prizeMoney.toLocaleString({useGrouping: true, maximumFractionDigits: 2})}`
                td.text-light= payedBet.payed
                td.text-light= payedBet.status
                td.text-light
                  .text-lightbutton.btn.btn-info.btn-md(type='button' id='modalBtn' data-toggle='modal' data-target=`#modalView${i}` ) ተወሳኺ
              .text-light
            tfoot.text-light
              tr
                td
                  strong.text-warning ሽም
                td 
                  strong.text-warning መደብ ኣይዲ
                td 
                  strong.text-warning ዝተመደበ ቕርሺ
                td 
                  strong.text-warning ጠቕላላ ኦድ
                td 
                  strong.text-warning ዝተመደበሉ ዕለት
                td 
                  strong.text-warning ዝበልዖ ቕርሺ
        .row
          .col-md-6.align-self-center
            
          .col-md-6
            nav.d-lg-flex.justify-content-lg-end.dataTables_paginate.paging_simple_numbers
              ul.pagination
               
                - if (currentPage !==1 && previousPage !==1)
                  li.page-item
                    a.page-link(href='/geez/admin/payedBets/?page=1') 1
                - if (hasPreviousPage)
                  li.page-item
                    a.page-link(href=`/geez/admin/payedBets/?page=${previousPage}`)=previousPage
                li.page-item
                  a.page-link(href=`/geez/admin/payedBets/?page=${currentPage}`)=currentPage
                - if (hasNextPage)
                  li.page-item
                    a.page-link(href=`/geez/admin/payedBets/?page=${nextPage}`)=nextPage
                - if (lastPage !== currentPage && nextPage !== lastPage)
                  li.page-item
                    a.page-link(href=`/geez/admin/payedBets/?page=${lastPage}`)=lastPage
                    
    each payedBet,i in payedBets
      .modal.fade.show(style='display:bloc;' role='dialog' tabindex='-1' id=`modalView${i}`)
        .modal-dialog.modal-lg.modal-dialog-centered.modal-dialog-scrollable(role='document')
          .modal-content
            .modal-header(style='background-color:rgb(0,0,0);border-color:rgb(41,41,41)')
              h1.modal-title.text-light= payedBet.userName
              button.close(type='button' data-dismiss='modal')
                span.text-light ×
            .modal-body(style='background-color:rgb(51,51,51);border-color:rgb(41,41,41)')
              .table-responsive
                table.table
                  thead
                    tr
                      th.text-warning ሽም ሊግ
                      th.text-warning ፀወታ
                      th.text-warning ግምት
                      th.text-warning ዝተመረፀ
                      th.text-warning ኦድ
                  tbody
                  each game in payedBet.game
                    tr
                      td.text-light=game.leagueName
                      td.text-light=game.title
                      td.text-light=game.prediction
                      td.text-light=game.choice
                      td.text-light=game.odd.toLocaleString({maximumFractionDigits: 2})
            .modal-footer(style='background-color:rgb(51,51,51);border-color:rgb(41,41,41)')
              p.text-info ቅድሚ ክፍሊት ምኽፋሎም ከምዝሰዓሩ ብደንቢ ጌርም የረጋግፁ
              input(value=payedBet._id style='display: none' id=`updateStatusField${i}`)
              button.btn.btn-light(type='button' data-dismiss='modal') ዕፀው
              - if (payedBet.status !=='win' && payedBet.status !=='lose') 
                button.btn.btn-danger(type='submit' id='winBtn' onclick=`updateLoseStatus(${i}, ${currentPage})`) ተሳዒሩ
                button.btn.btn-primary(type='submit' id='winBtn' onclick=`updateWinStatus(${i}, ${currentPage})`) ስዒሩ          
                                        